@media screen and (max-width:1300px) {
    .container {
        width: 100%;
    }
        
    .header_navigation {
        display: none;
    }
    .header_content {
       justify-content: space-around;
    }

    .button {
        display: none;
    }

    .table {
        height: 476px;
    }

    .title {
        padding-left: 10px;
        font-size: 23px;
        line-height: 31px;
    }

    .p1 {
        padding-left: 10px;
        font-size: 14px;
        line-height: 19px;
    }

    .button_container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 15px;   
        margin-left: 0;    
    }

    .button2 {
        width: auto;
        margin: 0;
        margin-left: 10px;
        margin-right: 10px; 
    }

    .completed-projects_list {
        display: none;
    }

    .completed-projects_display {
        display: flex;
        margin-left: 10px;
        margin-right: 10px;
        gap: 0;
    }

    .mobile-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 95vw;
    }

    .title2 {
        font-size: 22px;
        line-height: 30px;
        letter-spacing: -0.07em;
        text-align: center;
    }

    .title2_content {
        text-align: center;
        font-size: 11px;
        line-height: 17px;
    }

    .room-design {
        display: none;
    }

    .title3 {
        font-size: 14px;
        line-height: 19px;
    }

    .title3_content {
        font-size: 11px;
        line-height: 15px;
    }

    .mobile-carousel {
        display: flex;
        position: relative;
    }

    .mobile-carousel_arrows {
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        top: 45%;
    }

    .room-design_mobile {
        display: block; 
        max-width: 95vw;
        height: 240px;
    }

    .arrow-left {
        background-image: url(../img/arrow-left.svg);
        width: 36px;
        height: 36px;
        border: none;
        border-radius: 50%;
        margin-left: 10px;
        cursor: pointer;
    }

    .arrow-right { 
        background-image: url(../img/arrow-right.svg);
        width: 36px;
        height: 36px;
        border: none;
        border-radius: 50%;
        margin-right: 10px;
        cursor: pointer;
    }

    .arrows {
        display: none;
    }

    .completed-projects_display_columns {
        justify-content: center;
    }

    .completed-projects {
        height: auto;
    }

    .online-control {
        margin-top: 0;
        background: black;
    }

    .online-control_headline {
        margin-top: 58px;
    }

    .online-control_image_mobile {
        max-width: 95vw;
        height: 207px;
    }

    .online-control_example {
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .button-play {
        display: none;
    }

    .button-play-mobile {
        display: block;
        background: url(../img/play-mobile.svg) center;
        height: 40px;
        width: 40px;
        border: none;
        position: absolute;
        top: 40%;
        cursor: pointer;
    }

    .online-control_text {
        color: white;
        font-size: 11px;
        line-height: 19px;
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
    }

    .form-submit {
        margin: 0;
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        margin-left: 10px;
    }

    .form-submit_element {
        margin-top: 62px;
    }

    .form-submit_text {
        color: rgba(255, 255, 255, 0.5);
    }

    .form-submit_input {
        background-color: black;
        color: white;
        border-bottom: 1px solid rgba(54, 54, 54);
        width: 90vw;
    }

    .form-submit_input::placeholder {
        color: white;
        font-size: 14px;
        line-height: 19px;
    }

    .checkbox_container {
        display: none;
    }

    .checkbox_container_mobile {
        display: flex;
        margin-top: 26px;
        margin-bottom: 62px;
    }

    .checkbox_text_mobile {
        color: white;
        font-size: 14px;
        line-height: 23px;
    }

    .mobile-flex-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: -120px;
    }

    .form-submit_headline {
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;
        color: white;
        padding-top: 170px;
    }

    .button3 {
        width: auto;
        margin-right: 10px;
        margin-bottom: -25px;
    }

    .types-of-repair_headline {
        margin-top: 58px;
    }

    .types-of-repair_display {
        flex-direction: column;
    }

    .types-of-repair_image {
        max-width: 95vw;
    }

    .types-of-repair_display_item {
        margin-left: 0;
    }

    .types-of-repair_display_item {
        margin-bottom: 59px;
    }

    .request-section {
        display: none;
    }

    .pigbank-container {
        display: none;
    }    

    .repair-styles_container_mobile {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
    }

    .room-styles_mobile {
        max-width: 340px;
        height: 242px;
    }

    .mobile-carousel_arrows-2 {
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 45%;
        top: 55%;
    }

    .repair-styles {
        display: none;
    }

    .our-clients {
        display: none;
    }

    .questions {
        display: none;
    }

    .map {
        display: none;
    }

    .questions-map_mobile {
        display: block;
        background-color: black;
    }

    .google-map_mobile {
        display: flex;
        margin-top: 46px;
        justify-content: center;
        width: 95vw;
    }

    .title3_mobile {
        text-align: center;
        font-family: Yeseva One;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        text-transform: uppercase;
        color: #E3B873;
    }

    .contact-icons {
        padding-bottom: 50px;
    }

    .footer {
        display: none;
    }

}